body {
    margin: 0;
    background: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

.title {
    margin-top: 20px;
}

#game-board {
    width: 400px;
    height: 400px;
    background: #1b1b1b;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 3px solid #444;
    margin-top: 20px;
}

.snake {
    background: limegreen;
    border-radius: 6px;
}

.food {
    background: red;
    border-radius: 50%;
}

.score {
    margin-top: 20px;
}
